In [24]:
import requests
import os
import pandas as pd
import json

In [5]:
cities = pd.read_csv('data/worldcities.csv')
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [28]:
cities[cities['country'] == 'Uzbekistan'].sample(5)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
5418,Guliston,Guliston,40.4833,68.7833,Uzbekistan,UZ,UZB,Sirdaryo,admin,55600.0,1860505287
17024,Juma Shahri,Juma Shahri,39.7094,66.6614,Uzbekistan,UZ,UZB,Samarqand,minor,15571.0,1860861355
16077,Mŭynoq,Muynoq,43.7667,59.0333,Uzbekistan,UZ,UZB,Qoraqalpog‘iston,NaN,18196.0,1860204414
4217,Olmaliq,Olmaliq,40.8500,69.6000,Uzbekistan,UZ,UZB,Toshkent,NaN,112078.0,1860946502
12958,Kosonsoy,Kosonsoy,41.2492,71.5458,Uzbekistan,UZ,UZB,Namangan,minor,31217.0,1860234389

In [29]:
realtime_api = "https://api.climacell.co/v3/weather/realtime"
querystring = {
    "unit_system": "us",
    "fields": "temp,humidity",
    "apikey": os.environ['CLIMACELL_API'],
    "lat": "40.8500", "lon": "69.6000"
}

response = requests.request("GET", realtime_api, params=querystring)

In [30]:
print(response)

<Response [200]>

In [32]:
result = json.loads(response.content)
result

{'lat': 40.85,
 'lon': 69.6,
 'temp': {'value': 32.56, 'units': 'F'},
 'humidity': {'value': 46.5, 'units': '%'},
 'observation_time': {'value': '2020-11-21T08:41:46.392Z'}}